<div class="container d-flex justify-content-center align-items-center col-12 full-heigth">
  <div class="row d-flex justify-content-center align-items-center mt-3 text-center  glassmorphism-no-hover pt-3 pb-4 px-2">
    <div class="col-10 justify-content-center align-items-center">
      <h1 class="py-3">Login</h1>

      {{#if confirm}}
        <div class="alert alert-info">
          Por favor revisa tu email y verifica el usuario y correo
        </div>
      {{/if}}

        <form action="/login" method="post">
          <div class="input-group mb-1">
            <span class="input-group-text no-label"><i class="fa fa-envelope fa-fw"></i></span>
            <input type="text" name="email" value="{{ user.email }}" class="form-control {{#if errors.email }}is-invalid{{/if}}" placeholder="name@exaple.org">
            {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
          </div>
          
          <div class="input-group mb-1">
            <span class="input-group-text no-label"><i class="fa fa-lock fa-fw"></i></span>
            <input type="password" name="password" class="form-control {{#if errors.password }}is-invalid{{/if}}" placeholder="User password">
            {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
          </div>

          <div class="d-grid gap-2 col-6 mx-auto mt-3">
            <button class="btn btn-primary" type="submit">Login</button>
            <hr class="m-1 "> 
            <button class="btn btn-secondary" type="/register">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

