<!-- Just an image -->

<div  class="d-flex navbar col-12 bg-gradient shadow fixed-top glassmorphism justify-content-around">


  <nav class="d-flex navbar col-10">
    <a class="navbar-brand col-8" href="/">
      <div>
      <img src="\images\Logo_BigMenu.svg" width="90" height="90" alt="">
      </div>
    </a>
    <div class="d-flex col-2">
      <button class="btn btn-outline-light mx-1"> Login</button>
      <button class="btn btn-outline-primary mx-1"> Sign In</button>
    </div>
    <div class="col-0 hamburger" id="hamburgerMenu"></div>
  </nav>
</div>



<div class="popup hidden" id="myMenuNav">
	<div class="wrapper glassmorphism">
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/"><li>Login</li></a>
      <a href="/menus"><li>Menu</li></a>
    </ul>
	</div>
</div>