<!-- Just an image -->
<div  class="d-flex navbar  col-12 bg-gradient shadow fixed-top glassmorphism justify-content-around">
  <nav class="d-flex navbar col-10">
    <a class="navbar-brand" href="/">
      <div>
      <img src="\images\Logo_BigMenu.svg" width="90" height="90" alt="">
      </div>
    </a>
    <div>
    {{#if currentUser}}
      <a href="/menus">Menus</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
       {{currentUser.name}}
    </div>
    <nav class="navbar bg-light">


    
</nav>
  </nav>
</div>
