<!-- Just an image -->

<div  class="d-flex navbar col-12 shadow fixed-top glassmorphism justify-content-around">

  <nav class="d-flex navbar col-10">
    <a class="navbar-brand col-8" href="/">
      <div>
      <img src="\images\Logo_BigMenu.svg" width="90" height="90" alt="">
      </div>
    </a>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      {{#if currentUser}}
          <p style="color:black;">Welcome Back {{currentUser.name}}</p>

                    <div class="row justify-content-center align-items-center text-center position-menu-logo">
                        <div class="position-relative profile-picture  d-flex justify-content-center align-items-center text-center">
                        </div> 

                        <div class="position-absolute container-menu-logo d-flex justify-content-center align-items-center text-center">
                            <img src="{{currentUser.image}}" class="card-img-top profile-logo" alt="...">
                        </div>
                    </div>
      {{else}}
        <a href="/login"><button class="btn btn-primary mx-1"> Login</button></a>
        <a href="/register"><button class="btn btn-secondary mx-1"> Sign Up</button></a>
      {{/if}}

    </div>

    <div class="col-0 hamburger" id="hamburgerMenu"></div>
  </nav>
</div>



<div class="popup hidden " id="myMenuNav">
	<div class="wrapper glassmorphism list-group d-flex justify-content-center align-items-center">
      {{#if currentUser}}
        <div class="row">
          <p style="color:black;">Welcome Back {{currentUser.name}}</p>
        </div>

        <div class="row">
              <h2>THE MENU OPTIONS</h2>
        </div>

        <div class="row">
          <ul class="d-flex col-12 nobull justify-content-center">
            <li><a class="nav-group-item" href="/menus/new">Create New Menu</a></li>
            <li><a class="nav-group-item" href="/menus">My Menus</li></a></li>
          </ul>
        </div>
      {{/if}}

      <br>

      {{#if currentUser}}
        <div class="row">
              <h2>RESTAURANTS OPTIONS</h2>
        </div>

        <div class="row">
          <ul class="d-flex col-12 nobull justify-content-center">
            <li><a class="nav-group-item" href="/restaurants/new">Create New Restaurants</a></li>
            <li><a class="nav-group-item" href="/restaurants">My Restaurants</li></a></li>
          </ul>
        </div>
      {{/if}}



      <br>

        <div class="row">
            <h2>OUR AWESOME WEB</h2>
        </div>

        <div class="row">
            <ul class="d-flex col-12 nobull justify-content-center">
            <li><a class="nav-group-item" href="/">Home</a></li>
            <li><a class="nav-group-item" href="/">The Team</a></li>
            <li><a class="nav-group-item" href="/">Contact and Suport</a></li>
          </ul>
        </div>

	</div>
</div>