body {
  max-width: 98vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #008c93;
  border: 1px solid white;
  border-top: 0px;
  border-bottom: 0p
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02c1cb;
}

/* .bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(0,49,98,1) 0%, 
          rgba(36,123,160,1) 25%, 
          rgba(31,72,126,1) 51%, 
          rgba(0,0,0,1) 100%
    );  
    animation: AnimateBG 20s ease infinite;
  } */
  
  .bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          #DC493A 0%, 
          #E2573C 25%, 
          #E7643D 50%, 
          #F27E3F 100%

    );  
    animation: AnimateBG 20s ease infinite;
  }

  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  } 



.glassmorphism {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba(2, 4, 36, 0.37);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all 0.5s ease-in-out;
}

.glassmorphism:hover {
  box-shadow: 0 8px 32px 0 rgba(2, 4, 36, 0.777);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism-2 {
  background: rgba(255, 255, 255, 0.278);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 25px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all 0.5s ease-in-out;

}

.glassmorphism-2:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.548);
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 25px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.btn-primary{
  color: white;
  border: #008c93 solid;
  background-color: #008c93;
  transition: all 0.5s ease-in-out;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color: #02c1cb;
  color:  rgb(255, 255, 255);
  border: #02c1cb solid;
}

.btn-check:focus+.btn, .btn:focus{
  box-shadow:none;
}


.handImage{
  width: 100%;
}

.navbar{
  padding:0
}

h1, h2, h3, h4, h5, h6, p{
  color: white;
  font-family: 'Lato', sans-serif;
}
hr {
  border-top: 3px solid  white;
}



.icons {
  width: 180px; 
  max-height: 180px
}
.first-div{
  margin-top: 600px;
}


.nav{
  z-index: 100;
}



.popup {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	z-index: 60;
	height: 100vw;
	width: 100vw;
	left: 0;
	top: 0;
}

.wrapper {
  z-index: 60;
  width: 101%;
  height: 100vh; 
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding-top: 125px;
}


.hidden{
  display: none;
}

#hamburgerMenu{
  z-index: 100;
}

.nav-group-item{
  color: white;
  background: #008c93;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  padding: 5px 20px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}



.nav-group-item:hover, .nav-group-item:active{
  color: #008c93;
  box-shadow: 0 8px 32px 0 rgba(3, 3, 4, 0.095);
  background-color: white;
}

.nobull {
  list-style-type: none;
}

a {
  text-decoration: none;

}

ul li{
  border-right: white solid 1px;
}

ul li:last-child {
  border-right: solid 0px
}

.form-control,  .form-select{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.252);
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 25px );
  color: white;
  transition: all 0.5s ease-in-out;
}


option{
  background-color: #008c93;
  color: white;
}

option:focus, option:hover{
  background-color: white;
  color: #008c93;
}

.form-control:focus, .form-control:active, .form-select:focus, .form-select:active {
  border: 1px solid rgba(255, 255, 255, 0.252);
  box-shadow: 0 0 0 .1rem rgba(255, 255, 255, 0.252) ;
}


::placeholder {
  color: white !important;
}

label{
  color: white !important;
  font-size: 20px;
  margin-bottom: 8px;
}

.create-menu{
  font-size: 25px;
  font-weight: bold;
}

.container-new-menu{
  width: 400px;
  max-width: 25%;
}


.input-group-text{
  background-color: #008c93;
  border: 1px solid  #008c93;
  color: white;
}




.glassmorphism-no-hover{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba(2, 4, 36, 0.37);
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all 0.5s ease-in-out;
}

.card{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 3px 5px 0 rgba(2, 4, 36, 0.37);
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: all 0.5s ease-in-out;
}

.card:hover{
  background: rgba(255, 255, 255, 0.444);
  box-shadow: 0 8px 32px 0 rgba(2, 4, 36, 0.777);
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-title{
  color: #008c93;
  font-weight: bold;
}

.container-menu-logo{
  /* background-color: rgba(255, 255, 255, 0.237) ; */
  clip-path: circle();
  width: 170px;
  height: 170px;
}



.img-circle{
	clip-path: circle();
}

.menu-logo{
  max-width: 90%; 
}


span label{
  margin: 0 0 0 4 !important;
  font-size: 12px !important;
  
}

.container-new-restaurant{
  width: 1200px;
  max-width: 75%;
}


.input-group-text{
  width: 130px;
}

.form-check-input{
  background-color: rgba(255, 255, 255, 0.252);
  border: 1px solid rgba(255, 255, 255, 0.252);
  backdrop-filter: blur( 25px );
  -webkit-backdrop-filter: blur( 25px );
  color: white;
  transition: all 0.5s ease-in-out;
}

.form-check-input:checked {
  background-color: #008c93;
  border-color: #008c93;
}  

.form-check-input:focus{
  box-shadow: 0 0 0 .1rem rgba(255, 255, 255, 0.252) ;
}

.logo-background-circle{
  background-color: white ;
  clip-path: circle();
  width: 170px;
  height: 170px;
}

.accordion-item:first-of-type, .accordion-item:last-of-type  {
  border-radius: 0;
}

.accordion-button{
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  border: 0 0 1px 0 solid rgba( 255, 255, 255, 0.18 );
  color: black;
  padding: 10px 60px;
  transition: all 0.5s ease-in-out;
  font-weight: bolder;

}

.accordion-item{
  background-color: rgba( 255, 255, 255, 0.1 ) !important;
  width: 400px;
  color: black;
  border: 0px;
  max-width: 400px;
}

.accordion-button:active, .accordion-button:focus {
  color: black;
  border: 0 solid;
  font-weight: bold;
  border-color:rgba(255, 255, 255, 0.334);
  box-shadow: 0 0 0 .1rem rgba(255, 255, 255, 0.568) ;
}

.accordion-button:not(.collapsed), button.accordion-button::after{
  color: black !important;
}

.accordion-body{
  background-color: rgba( 255, 255, 255, 0.2 ) !important;
  width: 400px;
  max-width: 400px;
}

.side-restauranta-info{
  width: 400px;
  height: 100%;
  max-width: 400px;
}


.no-border{
  border: 0px;
}


.accordion-button.collapsed::after {
  background-image: url("https://icons-for-free.com/download-icon-chevron+down-1325051844264325845_256.png");
}

.accordion-button:not(.collapsed)::after {
  color: yellow;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Chevron_up_font_awesome.svg/512px-Chevron_up_font_awesome.svg.png");
}


.full-heigth{
  min-height: 100vh;
}

.margin-details{
  margin-left: 420px;
  margin-right: 0px;
}


p.back {
  color: #008c93 !important;
}