<div class="d-flex justify-content-center align-items-center full-heigth">
  <div class="container glassmorphism container-new-menu pt-5 pb-5 mt-5 animate__animated animate__fadeIn">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 d-flex justify-content-center align-items-center text-center"> 
        <h1 class="mb-4 create-menu primary-color">Development application created by:</h1>
      </div> 
      <div class="col-12 d-flex justify-content-center align-items-center"> 
          <h3>Luis Urdaneta & Giancarlo Patti</h3>
      </div> 
      <div class="col-12 d-flex justify-content-center align-items-center text-center"> 
          <ul>
            <li>luiseum95@gmail.com </li>
            <li>gpatti.11@gmail.com</li>
          </ul>
      </div> 

              
  </div>
</div>

