<div class="d-flex flex-column first-div">
    <div class="hero d-flex  justify-content-between  align-items-center">
        <div class="col-4"> <img src="\images\Transparente.png" alt="Preview od Big Menu" class="handImage"/> </div>
        <div class="col-6">
        <h1>BIG MENU, the best app designed for your restaurant.</h1>
        <hr>
        <p>The ideal application created for restaurant owners to have all the power of their business at their fingertips. You can sign up for the free version for a 30-day trial without using your credit card, <strong>What are you waiting for?</p></strong></p>
        </div>
    <div class="col-0"></div>
</div>

<div class="d-flex justify-content-center align-items-center col-12">
    <div class="row d-flex justify-content-center col-12 ">
    
    
    <div class="d-flex justify-content-center col-10">

        <div class="col-2 mx-5">
            <div class="card glassmorphism bg-gradient mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                <img src="\images\Calendar_Icon.svg" class="card-img-top icons" alt="...">
                <div class="card-body px-1 pb-0">
                    <h6 class="card-title"> Management of Reservations</h6>
                </div>
            </div>
        </div>

        <div class="col-2 mx-5">
            <div class="card glassmorphism bg-gradient mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                <img src="\images\Phone_Icon.svg" class="card-img-top icons" alt="...">
                <div class="card-body px-1 pb-3">
                    <h6 class="card-title">Online Purchases</h6>
                </div>
            </div>
        </div>
        
        <div class="col-2 mx-5">
            <div class="card glassmorphism bg-gradient mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                <img src="\images\Inventory_Icon.svg" class="card-img-top icons" alt="...">
                <div class="card-body px-1 pb-3">
                    <h6 class="card-title">Inventory Control</h6>
                </div>
            </div>
        </div>
    </div>
    
        
    <div class="d-flex justify-content-center col-10">

        <div class="col-2 mx-5">
            <div class="card glassmorphism bg-gradient mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                <img src="\images\Promotions_Icon.svg" class="card-img-top icons" alt="...">
                <div class="card-body px-1 pb-0">
                    <h6 class="card-title">Promotions and Events</h6>
                </div>
            </div>
        </div>

        <div class="col-2 mx-5">
            <div class="card glassmorphism bg-gradient mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                <img src="\images\Clients_Points_Icon.svg" class="card-img-top icons" alt="...">
                <div class="card-body px-1 pb-0">
                    <h6 class="card-title">Points system for customers</h6>
                </div>
            </div>
        </div>
        
        <div class="col-2 mx-5">
            <div class="card glassmorphism bg-gradient mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                <img src="\images\Sales_Icon.svg" class="card-img-top icons" alt="...">
                <div class="card-body px-1 pb-3">
                    <h6 class="card-title">Sales Charts</h6>
                </div>
            </div>
        </div>
    </div>

    </div>

</div>