    <div class="row">
        <div class="d-flex flex-column  no-gutters col-12">
            <div class="hero d-flex  justify-content-between  align-items-center">
                <div class="col-4"> <img src="\images\Transparente.png" alt="Preview od Big Menu" class="handImage animate__animated animate__fadeInLeft animate__delay-2s"/> </div>


                <div class="col-6 animate__animated animate__fadeIn animate__delay-2s">
                <h1>BIG MENU, the best app designed for your restaurant.</h1>
                <hr>
                <p>The ideal application created for restaurant owners to have all the power of their business at their fingertips. You can sign up for the free beta version without any cost, <strong>What are you waiting for?</p></strong></p>
                <a href="/register"><button class="btn btn-primary mx-1 w-25">Sign Me Up</button></a>
                </div>
                <div class="col-0"></div>
        </div>
    </div>



{{!-- 
<div class="container">
    <div class="row d-flex justify-content-center col-12 ">    
        <div class="d-flex justify-content-center col-10">
            <div class="col-2 mx-5">
                <div class="card glassmorphism-2 mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                    <img src="\images\Calendar_Icon.svg" class="card-img-top icons" alt="...">
                    <div class="card-body px-1 pb-0">
                        <h6 class="card-title"> Management of Reservations</h6>
                    </div>
                </div>
            </div>

            <div class="col-2 mx-5">
                <div class="card glassmorphism-2 mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                    <img src="\images\Phone_Icon.svg" class="card-img-top icons" alt="...">
                    <div class="card-body px-1 pb-3">
                        <h6 class="card-title">Online Purchases</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-2 mx-5">
                <div class="card glassmorphism-2  mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                    <img src="\images\Inventory_Icon.svg" class="card-img-top icons" alt="...">
                    <div class="card-body px-1 pb-3">
                        <h6 class="card-title">Inventory Control</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="row d-flex justify-content-center col-12 ">    
        <div class="d-flex justify-content-center col-10">
            <div class="col-2 mx-5">
                <div class="card glassmorphism-2  mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                    <img src="\images\Promotions_Icon.svg" class="card-img-top icons" alt="...">
                    <div class="card-body px-1 pb-0">
                        <h6 class="card-title">Promotions and Events</h6>
                    </div>
                </div>
            </div>

            <div class="col-2 mx-5">
                <div class="card glassmorphism-2  mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                    <img src="\images\Clients_Points_Icon.svg" class="card-img-top icons" alt="...">
                    <div class="card-body px-1 pb-0">
                        <h6 class="card-title">Points system for customers</h6>
                    </div>
                </div>
            </div>
        
            <div class="col-2 mx-5">
                <div class="card glassmorphism-2  mb-4 shadow d-flex justify-content-center align-items-center text-center p-4">
                    <img src="\images\Sales_Icon.svg" class="card-img-top icons" alt="...">
                    <div class="card-body px-1 pb-0">
                        <h6 class="card-title">Sales Charts</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<div class="col-12 p-0 d-flex justify-content-center align-items-center">
    <hr/>
</div>

<div class="container mt-5 animate__animated animate__fadeInUp animate__delay-2s">
    <div class="row d-flex justify-content-center col-12 ">    
        <div class="d-flex justify-content-center col-10">
            <div class="col-10 ">
                    <div class="row col-12 d-flex justify-content-center align-items-center parent">
                        <div class="col-5 d-flex justify-content-around align-items-center mb-4 card card-body mx-2 h-100 py-5">
                            <div class="row col-12 justify-content-around align-items-center">
                                <div class="col-6 d-flex justify-content-around align-items-center   box">
                                    <div class="row col-12  align-items-center py-5 f-h px-0 mx-0">
                                        <h4 class="card-title  px-0 mx-0">FOR RESTAURANTS OWNERS</h4>                                        
                                        <h5 class="card-title secondary-color px-0 mx-0">The best way to manage your/s restaurant/s</h5>
                                        <p class="card-text  px-0 mx-0">If you are the manager of one or multiples restaurants you know how important is to have a good online pressence, with this app you will be able to manage all your restaurants in an single place.</p>

                                        <br>

                                        <h4 class="card-title  px-0 mx-0">FOR RESTAURANTS LOVERS</h4>                                        
                                        <h5 class="card-title secondary-color px-0 mx-0">Go and save your favorites restaurants</h5>
                                        <p class="card-text  px-0 mx-0">In this way, you will be able to save your favorite restaurants, menus, and plates. You won't forget again where were those awesome burgers that you order two months ago.</p>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-center align-items-center text-center">
                                        <img src="\images\SVG\BM_Restaurant_icon.svg" class="card-img-top restaurant-logo" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>



<div class="container mt-5 animate__animated animate__fadeInUp">
    <div class="row d-flex justify-content-center col-12 ">    
        <div class="d-flex justify-content-center col-10">
            <div class="col-10 ">
                    <div class="row col-12 d-flex justify-content-center align-items-center parent">
                        <div class="col-5 d-flex justify-content-around align-items-center mb-4 card card-body mx-2 h-100 py-5">                            
                            <div class="row col-12 justify-content-around align-items-center">

                                <div class="col-3 d-flex justify-content-center align-items-center text-center">
                                        <img src="\images\SVG\BM_Menu_icon.svg" class="card-img-top restaurant-logo" alt="...">
                                </div>

                                <div class="col-6 d-flex justify-content-around align-items-centerbox">
                                    <div class="row col-12  align-items-center py-5 f-h px-0 mx-0">
                                        <h4 class="card-title  px-0 mx-0">NO MORE MISTAKES OR DOUBTS ON YOURS MENUS</h4>                                        
                                        <h5 class="card-title secondary-color px-0 mx-0">The menus that you need for you and your needs</h5>
                                        <p class="card-text  px-0 mx-0">Yes we know that most restaurants have different menus, some of them don't offer the same plates the day as the night, and others offer different plates for delivery or takeaway... all of them can be unique, that's why we created this awesome app for you, now you will be able to see all options in a single place in the best way.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>



<div class="container mt-5 animate__animated animate__fadeInUp">
    <div class="row d-flex justify-content-center col-12 ">    
        <div class="d-flex justify-content-center col-10">
            <div class="col-10 ">
                    <div class="row col-12 d-flex justify-content-center align-items-center parent">
                        <div class="col-5 d-flex justify-content-around align-items-center mb-4 card card-body mx-2 h-100 py-5">
                            <div class="row col-12 justify-content-around align-items-center">
                                <div class="col-6 d-flex justify-content-around align-items-center   box">
                                    <div class="row col-12  align-items-center py-5 f-h px-0 mx-0">
                                        <h4 class="card-title  px-0 mx-0">ALL YOUR FAVORITE FOOD IN A SINGLE PLACE</h4>                                        
                                        <h5 class="card-title secondary-color px-0 mx-0">The best of this app</h5>
                                        <p class="card-text  px-0 mx-0">Time to order and enjoy, go and check what we have for you!</p>
                                        <a class=" px-0 mx-0" href="/restaurants"><button class="btn btn-primary ">See the Restaurants</button></a>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-center align-items-center text-center">
                                        <img src="\images\SVG\BM_Products_icon.svg" class="card-img-top restaurant-logo" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>